<!DOCTYPE html>
<html>
<head>
		{% block title %}<title>TodoApp - Задачник от Адика</title>{% endblock %}
		<meta charset="UTF-8">
  		{% load static %}
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    	<style type="text/css">"the stylesheet"</style>
    <header>
		<h1>Тудушка</h1>
		<nav><a href="{% url 'index' %}">Главная</a><a href="{% url 'all' %}">Все задания</a><a href="{% url 'contact' %}">Контакты</a></nav>
	</header>
</head>
<body>
	{% block content %}
	
	{% endblock %}
</body>
</html>