{% extends "head.html" %}
{% block content %}

<div class="container">
{% if form.errors %}
  <p>Ваш пароль или логин не совпадают. Пожалуйста повторите снова</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Ваш аккаунт не имеет доступ к этой странице. Чтобы продолжить войдите под другим аккаунтом</p>
  {% else %}
    <p>Пожалуйста авторизутесь чтобы посмотреть страницу</p>
  {% endif %}
{% endif %}

<form class="log_form" method="post" action="{% url 'login' %}">
{% csrf_token %}
  <table class="userlogin">

  <tr class="username_log">
    <td>{{ form.username.label_tag }}</td>
    <td class="usernamearea">{{ form.username }}</td>
  </tr>

  <tr class="username_pass">
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
  </tr>
  </table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
</div>
{% endblock %}